@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Secular+One&display=swap");

body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: rgb(40, 38, 38);
  color: #fff;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  padding: 0 10px;
}

nav {
  ul {
    position: absolute;
    font-size: 25px;
    font-weight: 500;
    left: 35%;
    display: flex;
    gap: 30px;
  }

  ul li a:hover {
    color: #cc4a4a;
    text-decoration: underline;
  }

  ul li .ativado {
    color: #e65c5c;
  }
}

section {
  color: #fff;

  .slider {
    overflow: hidden;
  }

  .slider .slide {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .slider .slide.selecionado {
    display: block;
  }

  div img {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    object-fit: fill;
    display: block;
  }

  .btn {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s ease-out;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .btn {
    color: #fff;
    font-size: 1.3rem;
  }

  .btn-voltar {
    left: 15px;
  }

  .btn-avancar {
    right: 15px;
  }

  .btn:hover {
    background-color: #e65c5c;
    transition: 0.5s ease-in-out;
  }

  .btn-play {
    right: 3%;
    top: 90%;
    width: 70px;
    height: 65px;
    font-size: 2rem;
  }

  .conteudo {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 9.8%;
    left: 9%;
    padding: 20px;
    width: 30vw;
    height: 90vh;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
