@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Secular+One&display=swap");

body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(40, 38, 38);
  z-index: 1;
}

.header {
  background-color: rgb(40, 38, 38);
  color: #fff;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  padding: 0 10px;
}

nav ul {
  position: absolute;
  font-size: 25px;
  font-weight: 500;
  left: 35%;
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #cc4a4a;
  text-decoration: underline;
}

nav ul li .ativado {
  color: #e65c5c;
}

section {
  color: #fff;
}

section .slides {
  overflow: hidden;
}

section .slides .slide {
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

section .slides .slide.selecionado {
  display: block;
}

section div img {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  object-fit: fill;
  display: block;
}

section .btn {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s ease-out;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
}

section .btn:hover {
  background-color: #e65c5c;
  color: #000;
  transition: 0.5s ease-in-out;
}

section .btn-voltar {
  left: 15px;
}

section .btn-avancar {
  right: 15px;
}

section .btn-play {
  right: 3%;
  top: 90%;
  width: 50px;
  height: 45px;
  font-size: 1.4rem;
}

section .conteudo {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 9.8%;
  left: 9%;
  padding: 20px;
  width: 30vw;
  height: 90vh;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
