@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Secular+One&display=swap");

body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #404040;
  color: #fff;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;

  padding: 0 10px;
}

nav {
  ul {
    position: absolute;
    font-size: 25px;
    font-weight: 500;
    left: 35%;
    display: flex;
    gap: 30px;
  }

  ul a li:hover {
    color: #e65c5c;
    text-decoration: underline;
  }
}

main section div img {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  object-fit: fit;
  display: block;
}
